/* ==========================================================================
   Default Theme
   ========================================================================== */

.t-default {

  .c-navigation{
      background:fade-out(#222, 0.3);
  }
  .c-header {
    background-image: url('https://c.wallhere.com/photos/fd/a8/minimalism_texture_black_background_black_armor_rose_illustration_fan_art_dark_background-1426209.jpg!d');
    background-size: 100%;
  }

  .c-article__main a:not(.c-btn) {
    color: #fff;
  }

  .c-footer a {
    color: #222222;
  }
}
